<h3>Tweet</h3>
<div class="row tweetContainer" *ngFor="let tweet of tweets">
  <div class="col-1">
    <img [src]="tweet.profilepic"   class="profileepic" />
  </div>
  <div class="col-11">
    <div class="unameContainer">
      <span class="fw-bold uname">{{ tweet.username }}</span>
      <span class="handle">{{ tweet.twitterhandele }}</span>
      <span class="time">. 21h</span>
    </div>
    <div class="feed">{{ tweet.feed }}</div>
    <div class="social">
      <div class="row">
        <div class="col-3">{{ tweet.comment }}</div>
        <div class="col-3">{{ tweet.retweets }}</div>
        <div class="col-3"><like></like>{{ tweet.likes }}</div>
        <div class="col-3">share</div>
      </div>
    </div>
  </div>
</div>
